/* Custom CSS */

/* Base Project Custom CSS */
.img-logo {
    width: auto;
    max-height: 35px;
}

.pull-ext {
    margin-bottom: 4px;
}

.disabled {
    color: #fff !important;
}

.link_color {
    color: #656565 !important;
}

.table-hover > tbody > tr:hover td > a {
    color: white !important;
    text-decoration: none;
}

.del-dialog {
    font-size: 20px;
    margin-bottom: 10px;
}

/*Advance map styles*/

.angular-google-map-container {
    width: 100%;
    height: 500px;
}

.inline-block {
    display: inline-block;
}

/*--------------------*/
/* Common CSS Classes */

/* Navbar Style */

.nav_div {
    padding: 0px !important;
    color: #fff;
}

.nav_head {
    margin-top: 15px;
    padding-left: 10px;
}

.img-responsive {
    border-radius: 10px;
}

/*  CUSTOM HEADER CSS START */

.content-wrapper > span > h3,
.content-wrapper > .content-heading {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-size: 24px;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.content-wrapper > span > h3 small,
.content-wrapper > .content-heading small,
.content-wrapper > span > h3 .small,
.content-wrapper > .content-heading .small {
    font-weight: normal;
    line-height: 1;
    color: #3a3f51;
}

.content-wrapper > span > h3 small,
.content-wrapper > .content-heading small,
.content-wrapper > span > h3 .small,
.content-wrapper > .content-heading .small {
    font-size: 65%;
}

.content-wrapper > span > h3 > small,
.content-wrapper > .content-heading > small {
    display: block;
    font-size: 12px;
    color: #909fa7;
}

@media only screen and (min-width: 768px) {

    .content-wrapper > span > h3,
    .content-wrapper > .content-heading {
        margin: -20px;
        margin-bottom: 20px;
        padding: 20px;
    }

}

.content-wrapper > span > h3 > span > small {
    display: block;
    font-size: 12px;
    color: #909fa7;
}

/* CUSTOM HEADER CSS END */

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.padding_right {
    padding-right: 0px;
}

.padding_left {
    padding-left: 0px;
}

.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hide-scroll {
    overflow: hidden !important;
}

.set-calender-scroll {
    overflow: inherit !important;
}

.image_radius {
    border-radius: 35px;
}

.no_data {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: lighter;
}

.btn-primary {
    background-color: #f763eb;
    border-color: #f763eb;
}

.btn-head {
    background-color: #FAFBFC;
    border-color: #f763eb;
    color: #f763eb;
}

.margin-input {
    margin-bottom: 15px !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-head:hover, .btn-head:focus, .btn-head.focus, .btn-head:active, .btn-head.active, .open > .dropdown-toggle.btn-head {
    background-color: #f763eb;
    border-color: #f763eb;
    webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 6px 5px rgba(0, 0, 0, 0.125);
    color: #fff;
}

/* Search & Count Select Box CSS */
.pick_count_div {
    width: 100px !important;
    float: left;
}

.search_div {
    width: 200px !important;
    float: right;
}

/* Sidebar User Details CSS */
.user-block {
    position: relative;
    padding: 25px 30px 0;
    cursor: pointer;
}

.user-block > .user-block-picture {
    position: relative;
    width: 60px;
    margin: 0 auto;
}

.user-block .user-block-info {
    padding-top: 15px;
    text-align: center;
}

/* Tables */

td {
    word-break: break-all;
    /*font-weight: lighter;*/
}

.panel-body {
    overflow: auto;
}

/* Add Menu */

.add-form {
    padding: 15px;
}

.img_add_meal {
    /* width: 242px; */
    width: 150px;
    height: 150px;
    border-radius: 80px;
}

.check_category {
    float: left;
}

.label-category {
    font-weight: normal;
    margin-left: 20px;
    font-size: 13px;
}

/* Promo Codes */

.disabled-color {
    background-color: #fff !important;
}

.label-promo {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #f763eb;
    border-color: #f763eb;
    cursor: default;
}

/* Banner CSS*/
.banner-image-div {
    text-align: center;
    margin-top: 10px;
}

.banner-image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

/* Driver View */
.driver_info_img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.no_driver {
    padding: 15px;
}

.driver-list {
    max-height: 650px;
    overflow: auto;
}

/* Customer Info CSS */
.image_customer {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 30px;
}

.customer_details_div {
    padding: 20px;
}

.customer_details {
    padding: 15px;
    font-weight: 300;
}

.cust-name {
    font-size: 22px;
    margin-bottom: 5px;
}

.cust-email {
    margin-bottom: 4px;
}

/* Dashboard */
.revenue_bg {
    background: #fff;
    color: #8BB8F1;
}

.service_bg {
    background: #fff;
    color: #9289CA;
}

.scheduled_bg {
    background: #fff;
    color: #58CEB1;
}
.cancel_bg {
    background: #fff;
    color: #f47f7f;
}
.login-head-img {
    width: 250px;
    height: 150px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.form-signin {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.login-wrap {
    padding: 20px;
}

.form-signin h2.form-signin-heading {
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    background: rgb(200, 155, 242);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.login-head-box {
    height: 171px;
    background-color: rgb(200, 155, 242);
    font-size: 35px;
    padding: 20px;
    color: white;
    text-align: center;

}
.login-head-img {
    width: 250px;
    height: 150px;
}

.gapinbutton {
    padding: 20px;
}

.thumbnil{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid grey;
}
.editable-input{
    width: 350px;
}