<span ng-controller="CustomersController">
<h3>Customers List
    <small>Get all customers list</small>
</h3>
<div class="container-fluid">

    <div class="panel-body"  style="overflow: inherit;">
        <div class="btn-group" style="margin-bottom: 10px;width: 20%">
            <select class="form-control" name="chooseCityName" ng-change="cityName()" id="repeat2"  ng-model="city_name">
                <option value="1">Chandigarh</option>
                <option value="2">Mohali</option>
                <option value="3">Zirakpur</option>
                <option value="4">Panchkula</option>
                <option value="5">Gurgaon</option>
                <option value="6">Delhi</option>
                <option value="7">No City</option>
            </select>
        </div>
    </div>

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th id="Name">Name</th>
                            <th id="phoneNo">Phone No.</th>
                            <th>Email ID</th>
                            <th>Registration Date</th>
                            <th>Age Group</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                     <!--   <tbody>
                        <tr ng-repeat="data in list">

                            <td><a class="link_color" ui-sref="app.customerInfo({id: data.cust_id})">{{$index + 1}}</a>
                            </td>
                            <td><a class="link_color" ui-sref="app.customerInfo({id: data.cust_id})">{{data.name}}</a>
                            </td>
                            <td><a class="link_color"
                                   ui-sref="app.customerInfo({id: data.cust_id})">{{data.phone_no}}</a></td>
                            <td><a class="link_color" ui-sref="app.customerInfo({id: data.cust_id})">{{data.email}}</a>
                            </td>
                          &lt;!&ndash; &lt;!&ndash; <td><a class="link_color" ui-sref="app.customerInfo({id: data.cust_id})">{{data.gender}}</a>&ndash;&gt;
                            </td>&ndash;&gt;
                            <td><a class="link_color"
                                   ui-sref="app.customerInfo({id: data.cust_id})">{{data.reg_date}}</a></td>
                            <td>
                                <div ng-switch="data.is_block">
                                    <button ng-switch-when="1" ng-click="changeStatus(0,data.cust_id)" title="Unblock"
                                            class="btn btn-sm btn-success pull-ext" style="width: 30px;">
                                        <em class="fa fa-unlock"></em>
                                    </button>

                                    <button ng-switch-when="0" ng-click="changeStatus(1,data.cust_id)" title="Block"
                                            class="btn btn-sm btn-success pull-ext">
                                        <em class="fa fa-lock"></em>
                                    </button>

                                    <button ng-click="deleteCustomer(data.cust_id)" title="Delete"
                                            class="btn btn-sm btn-danger pull-ext">
                                        <em class="fa fa-trash-o"></em>
                                    </button>
                                </div>

                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                   <!-- <div class="row">
                        <div class="col-lg-12" style="text-align: center;padding-bottom: 45px">
                            <div>
                                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" boundary-links="true" class="pagination-sm" ng-change="loadData(currentPage)" ></pagination>

                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>


