<span ng-controller="SpecialOfferPromoCode">
<h3>Offer Promo Code
    <small>Special Offer Promo Code</small>
</h3>
        <div  class="panel panel-default" class="container-fluid">
            <div class="panel-heading">
                Offer For Services
            </div>

            <div class="panel-body" style="overflow: inherit;">
                <div class="btn-group" style="margin-bottom: 10px;width: 100%">
                    <select class="form-control" name="OfferPromoCode" ng-change="offer_promo_code()" id="repeat2"  ng-model="add.offerPromoCode">
                        <option value="1">Flat Discount Offer</option>
                        <option value="2">Flat Discount Offer At Fixed Price</option>
                        <option value="3">Single Services Price Offer</option>
                        <option value="4">Single Service Price Offer with All Other Services Discount</option>
                        <option value="5">Combo Pack Services Price Offer</option>
                        <option value="6">Combo Service Price Offer with All Other Services Discount</option>
                    </select>
                </div>
            </div>
        </div>
    <div class="panel panel-default" class="container-fluid">
        <div class="panel-heading">
            Add Promo Codes
        </div>
        <div class="panel-body set-calender-scroll">
            <!--Column 1-Add Promo-->
            <div class="col-lg-3 padding_left">
                <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label class="label-promo">START DATE</label>

                    <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" ng-change="startDate()"
                               ng-model="promo.start_date" is-open="opened"
                               style="background-color: #fff;cursor: pointer;"
                               min-date="minDate" max-date="'2099-01-01'" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close"
                               class="form-control" readonly/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                    </p>
                </div>
            </div>
            <!--Column 2-Add Promo-->
            <div class="col-lg-3 padding_left">
                <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label class="label-promo">END DATE</label>

                    <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" ng-change="endDate()"
                               ng-model="promo.end_date" is-open="opened"
                               style="background-color: #fff;cursor: pointer;"
                               min-date="minDate1" max-date="'2099-01-01'" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" close-text="Close"
                               class="form-control" readonly/>
                        <span class="input-group-btn">
                           <button type="button" ng-click="open($event)" class="btn btn-default">
                               <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                    </p>
                </div>
            </div>
            <!--Column 3-Add Promo-->
            <div class="col-lg-3 padding_left">
                <div class="form-group">
                    <label class="label-promo">PROMO CODE</label>
                    <input type="text" ng-model="code" class="form-control" placeholder="Promo Code" required="required"/>
                </div>
            </div>
            <div class="col-lg-3 padding_left" ng-hide="creditsCheck">
                <div class="form-group">
                    <label class="label-promo">SERVICE PRICE OR FIXED PRICE</label>
                    <input type="text" ng-model="credits" data-parsley-type="number"
                           placeholder="Service Price Or Fixed Price" class="form-control" required="required" numbers-only/>
                </div>
            </div>
            <div class="col-lg-3 padding_left" ng-hide="discountCheck">
                <div class="form-group">
                    <label class="label-promo">DISCOUNT</label>
                    <input type="text" ng-model="discount" data-parsley-type="number"
                          placeholder="Discount" class="form-control" required="required" numbers-only/>
                </div>
            </div>
            <div class="col-lg-3 padding_left">
                <div class="form-group">
                    <label class="label-promo">CITY NAME</label>
                    <input type="text" ng-model="cityName"
                           placeholder="Enter the City Name" class="form-control" required="required" />
                </div>
            </div>
            <div ng-hide="SpecialOfferflagValue" class="col-lg-3 padding_left" style="margin:20px 0px 20px 0px">
                <label> Special Package Offer
                <input type="checkbox" ng-model="checkedValue" ng-checked="checked" ng-change='getCheckBoxValue()'> </label>
            </div>
            <div class="col-lg-6 padding_left" ng-hide="packageDescription">
                <div class="form-group">
                    <label class="label-promo">BRIDAL PACKAGE TITLE</label>
                    <input type="text" ng-model="bridalPackage"
                          placeholder="Bridal Package Title" class="form-control" required="required" />
                </div>
            </div>

          <!--  <div class="col-md-12">
                <div class="row" >
                    <label>Select City Where Promo Code Apply</label> <br>

                    <p ng-repeat="city in cityList" class="checkbox-inline" id="{{city.id}}">
                        <input  type="checkbox" ng-model="cityList[$index].data" ng-true-value="1" ng-false-value="0">{{city.city_name}}
                    </p>
                </div>
            </div>-->
            <div class="col-md-12" ng-hide="singleServices">
                <div class="row" >
                    <label>Service Name</label> <br>
                    <label data-ng-repeat="choice in list1" class="radio-inline">
                        <input type="radio" name="response" value="true" ng-click="setChoiceForService(list1, choice)">{{choice.service_name}}
                        <!--<input type="number" class="input-Medium" min="1" max="5" value="1" ng-model="quantityValue">-->
                    </label>
                </div>
            </div>

            <div class="col-md-12" ng-hide="multipleServices">
                <div class="row" >
                    <label>Service Name</label> <br>

                    <p ng-repeat="item in list1" class="checkbox-inline" id="{{item.id}}">
                         <input name='obj1.data' type="checkbox" ng-model="list1[$index].data" ng-true-value="1" ng-false-value="0">{{item.service_name}}
                         <input type="number" class="input-Medium" min="1" max="5" ng-value="1" ng-model="quantity.item1[item.id]">
                    </p>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary pull-right" id='publish1' ng-hide="btnControl" ng-click="addPromo();"
                        style="margin-right: 5px;margin-top: 20px">Submit
                </button>

                <button type="submit" class="btn btn-primary pull-right" id='publish' ng-show="btnControl" ng-click="addPromo();"
                        style="margin-right: 5px;">Submit
                </button>
                <!--<button type="button" class="btn btn-danger" id='reset' onClick="reset();">Cancel-->
                <!--</button>-->
            </div>

        </div>
        </div>

    <!-- START DATATABLE 2 -->
    <div class="row">
        <h4 style="margin-left: 10px"> Promo Code List</h4>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Promo Code</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Created Date</th>
                            <th>Start Date</th>
                            <th>Expiry Date</th>
                            <th>Description</th>
                            <th>Special Package Status</th>
                            <th>Action</th>
                          <!--  <th ng-hide="serviceId" style="width:15%">Service</th>
                            <th ng-hide="comboId" style="width:15%">Combo Services</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td>{{data.code}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.discount}}</td>
                            <td>{{data.create_date}}</td>
                            <td>{{data.start_date}}</td>
                            <td>{{data.expiry_date}}</td>
                            <td>{{data.description}}</td>
                            <td ng-switch="data.package_offer_flag">
                                <div ng-switch-when="1">
                                    true
                                </div>
                                <div ng-switch-when="0">
                                    false
                                </div>
                            </td>
                            <td>
                                <button ng-click="deletePromo(data.code_id)" title="Delete"
                                        class="btn btn-sm btn-danger pull-ext">
                                    <em class="fa fa-trash-o"></em>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Promo Code"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Credits"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Discount"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Created Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Start Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Expiry Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</span>
