<span ng-controller="OngoingSessionController">
<h3>Ongoing Sessions
    <small>Get all ongoing sessions list</small>
</h3>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th>Service Date</th>
                            <th>Start Time</th>
                            <th>Category</th>
                            <th>Service Name</th>
                            <th>Customer Name</th>
                            <th>Artist Name</th>
                            <th>Service Location</th>
                            <th>Service Cost(&#8377;)</th>
                            <th>Total Cost(&#8377;)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td>{{data.service_date}}</td>
                            <td>{{data.start_time}}</td>
                            <td ng-switch="data.category">
                                <div ng-switch-when="1">
                                    Hair
                                </div>
                                <div ng-switch-when="2">
                                    Make-up
                                </div>
                                <div ng-switch-when="3">
                                    Hair, Make-up
                                </div>
                            </td>
                            <td>{{data.service_name}}</td>
                            <td>{{data.customer_name}}</td>
                            <td>{{data.artist_name}}</td>
                            <td>{{data.address}}</td>
                            <td>{{data.cost}}</td>
                            <td>{{data.payable_amount}}</td>
                            <td ng-switch="data.status">
                                <span ng-switch-when="2" class="label label-primary">Out</span>
                                <span ng-switch-when="3" class="label label-purple">Reached</span>
                                <span ng-switch-when="4" class="label label-pink">Started</span>
                            </td>
                            <td>

                                <button ng-click="cancelSession(data.id)" title="Cancel"
                                        class="btn btn-sm btn-danger pull-ext">
                                    <em class="fa fa-trash-o"></em>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Service Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Start Time"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Category"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Service Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_index" placeholder="Customer Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Artist Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Address"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Service Cost($)"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Total Cost($)"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Status"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>
