<h3>Payment
    <small>Pay artist & get paid artists</small>
</h3>
<div ng-controller="PaymentController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th style="width:5px">#</th>
                            <th style="width:10px">Artist Name</th>
                            <th style="width:10px">Artist Email</th>
                            <th style="width:10px">Payment Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td>{{data.artist_name}}</td>
                            <td>{{data.artist_email}}</td>
                            <td>
                                <p><a ui-sref="app.paymentInfo({id: data.artist_id})" class="btn btn-info"
                                      title="View Details">View Details</a>
                                </p>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Artist Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <!--<th>-->
                            <!--<input type="text" name="filter_meal_description" placeholder="Paid Amount"-->
                            <!--class="form-control input-sm datatable_input_col_search"/>-->
                            <!--</th>-->
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>