<h3>Push Notification
    <small>Send push notification for every user</small>
</h3>
<div class="col-sm-12">
    <div class="col-sm-6">
      <div class="panel panel-default" ng-controller="PushController">
        <div class="panel-heading">
            Push Notification
        </div>
        <div class="panel-body" style="overflow: inherit;">
            <div class="form-group sub-data">
                <div class="col-lg-12">
                    <label class="form-group col-md-3 report">Title : </label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="title" required="required"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-group col-md-3 report">Message : </label>
                <textarea type="text" class="form-control" ng-model="notification_content" rows="7" required="required"></textarea>
            </div>
            <div class="form-group">
            <label class="control-label">Image</label>

            <input filestyle="" type="file" name="image" accept="image\*" ng-required="!type"
                   onchange="angular.element(this).scope().file_to_upload(this.files)"
                   data-button-text="Single" data-class-button="btn btn-default" ng-model="image_url"
                   data-classinput="form-control inline" ng-disabled="type" nv-file-select=""
                   uploader="uploader"
                   class="form-control"/>
            <!--<img ng-model="image_url" class="thumbnil" ng-src="{{image_url}}"  width="50"/>-->
        </div>
            <div class="form-group">
                <label class="control-label"> Select Flag For Push Notification: </label>
                <select class="form-control" name="chooseOfferFlag" ng-change="chooseOffer()"  ng-model="chooseOfferFlag">
                    <option value="0">Default</option>
                    <option value="3">Bridal Package Offer</option>
                    <option value="4">Package Offer</option>
                </select>
            </div>
            </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-primary" ng-click="sendPushNotification()">SUBMIT</button>
        </div>
      </div>
    </div>
     </br>
    <div class="col-sm-6">
        <div class="panel panel-default" ng-controller="BeautyTipsController">
            <div class="panel-heading">
              Add Beauty Tips and Offer Message
            </div>
            <div class="panel-body" style="overflow: inherit;">
                <div class="form-group sub-data">
                    <div class="col-lg-12">
                        <label class="form-group col-md-3 report">Title : </label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="titleTips" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group col-md-3 report">Message : </label>
                    <textarea type="text" class="form-control" ng-model="messageTips" rows="7" required="required"></textarea>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="btn btn-primary" ng-click="addBeautyTips()">SUBMIT</button>
            </div>
        </div>
    </div>
    </br>
    <div ng-controller="TablexEditableController" class="container-fluid">
        <h3>  <small>List of Beauty Tips and Offer Code</small></h3>

        <table  class="table table-bordered bg-white">
            <tr style="font-weight: bold">
                <td style="width:20%">#</td>
                <td style="width:20%">Title</td>
                <td style="width:35%">Message</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="value in list">
                <td>{{$index+1}}</td>
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="value.title" e-name="title" e-form="rowform" onbeforesave="checkTitle($data, value.id)" e-required="">{{ value.title || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable status (select-local)-->
                    <span editable-text="value.message" e-name="message" e-form="rowform" class="change-size" onbeforesave="checkMessage($data, value.id)" e-required="">{{ value.message || &apos;empty&apos; }}</span>
                </td>
                <!--<td>
                    &lt;!&ndash; editable group (select-remote)&ndash;&gt;
                    <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">{{ showGroup(user) }}</span>
                </td>-->
                <td style="white-space: nowrap">
                    <!-- form-->
                    <form editable-form="" name="rowform" onbeforesave="saveMessage($data, value.id)" ng-show="rowform.$visible" shown="inserted == user" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
                            <em class="fa fa-save"></em>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
                            <em class="fa fa-times"></em>
                        </button>
                    </form>
                    <div ng-show="!rowform.$visible" class="buttons">
                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </button>
                        <button ng-click="removeMessage(value.id)" title="Delete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
