<span ng-controller="ServiceController">
<h3>
    <span class="left">
        <span>Service Information</span>
        <small>Get all Female services list</small>
    </span>
    <button type="button" class="btn btn-head right" ng-click="addServiceDialog(2)">Add New Service</button>
    <div class="clear"></div>
</h3>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th style="width: 100px;">Name</th>
                            <th>images</th>
                            <th style="width: 300px;">Description</th>
                            <th>Service Product Name </th>
                           <!-- <th style="width: 200px;">Instructions</th>-->
                            <th>Time(min)</th>
                            <th>Cost(&#8377;)</th>
                            <th style="width: 72px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{$index + 1}}</td>
                            <td ng-switch="data.category">
                                <div ng-switch-when="1">
                                    Hair

                                </div>
                                <div ng-switch-when="2">
                                    Make-up

                                </div>
                                <div ng-switch-when="3">
                                    Waxing

                                </div>
                                <div ng-switch-when="4">
                                    REJUVENATE

                                </div>

                            </td>
                            <td>{{data.name}}</td>
                            <td> <img
                                    ng-src="{{data.image_url}}" width="50"/></td>
                            <td ng-bind-html="data.description"></td>
                            <td>{{data.product_name}}</td>
                           <!-- <td ng-bind-html="data.instructions"></td>-->
                            <td>{{data.time}}</td>
                            <td>{{data.cost}}</td>
                            <td>
                                <div>
                                    <button ng-click="editServiceDialog(data)" title="Edit"
                                            class="btn btn-sm btn-success pull-ext">
                                        <em class="fa fa-edit"></em>
                                    </button>

                                    <button ng-click="deleteService(data.service_id)" title="Delete"
                                            class="btn btn-sm btn-danger pull-ext">
                                        <em class="fa fa-trash-o"></em>
                                    </button>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Category"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Description"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Instructions"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Time(min)"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Cost($)"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
</div>
    </span>
