<span ng-controller="UpcomingSessionController">
<h3>Upcoming Sessions
    <small>Get all upcoming sessions list</small>
</h3>
<div class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover"
                           ng-class="{'whirl standard' : loading }">
                        <thead>
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th>Service Date</th>
                            <th>Start Time</th>
                            <th>Customer Name</th>
                            <th>Artist Name</th>
                            <th>Service Location</th>
                            <th>Total Price(&#8377;)</th>
                            <th>Used Credits(&#8377;)</th>
                            <th>Pay To(&#8377;)</th>
                            <th>Status</th>
                            <th style="width: 130px;">Booking Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{$index + 1}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.service_date}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.start_time}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.customer_name}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.artist_name}}</a></td>
                            <td><a class="link_color" ui-sref="app.cartDetails({id: data.id})">{{data.address}}</a></td>
                            <td>{{data.total_price}}</td>
                            <td>{{data.usedCredits}}</td>
                            <td>{{data.pay_to}}</td>
                            <td ng-switch="data.status">
                                <span ng-switch-when="0" class="label label-info">Into Cart</span>
                                <span ng-switch-when="1" class="label label-info">Booked</span>
                                <span ng-switch-when="2" class="label label-success">Confirmed</span>
                                <span ng-switch-when="3" class="label label-primary">Out</span>
                                <span ng-switch-when="4" class="label label-purple">Reached</span>
                                <span ng-switch-when="5" class="label label-pink">Started</span>
                                <span ng-switch-when="6" class="label label-danger">Ended</span>
                                <span ng-switch-when="7" class="label label-warning">Rejected</span>
                                <span ng-switch-when="8" class="label label-warning">Canceled</span>
                            </td>
                            <td>
                                <select class="form-control m-bot15" name="selectedArtistId"
                                        data-ng-if="data.status == '6' || data.status == '0'"
                                        data-ng-model="selectedArtistId"
                                        data-ng-change="assignArtist(data.id,selectedArtistId)">
                                    <!--<option value="default">Select Artist</option>-->
                                    <option data-ng-repeat="artist in data.city_techs" value="{{artist.artist_id}}">
                                        {{artist.first_name + " " + artist.last_name}}
                                    </option>
                                </select>

                                <p data-ng-if="data.status == '1' || data.status == '2' || data.status == '3' || data.status == '4' || data.status == '5' || data.status == '7'">
                                    -</p>
                            </td>
                            <td>
                               <span ng-if="data.status>5">
                                    <button ng-click="cancelSession(data.id)" title="Cancel" disabled
                                            class="btn btn-sm btn-danger pull-ext">
                                        <em class="fa fa-trash-o"></em>
                                    </button>
                               </span>
                                <span ng-if="data.status<=5">
                                   <button ng-click="cancelSession(data.id)" title="Cancel"
                                        class="btn btn-sm btn-danger pull-ext">
                                    <em class="fa fa-trash-o"></em>
                                   </button>
                                 </span>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_index" placeholder="#"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_name" placeholder="Service Date"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Start Time"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_image" placeholder="Customer Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_mal_price" placeholder="Artist Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_meal_description" placeholder="Service Location"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

</div>
    </span>
